<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto">
      <h1 class="mt-4 mb-4 text-center">Связь с нами</h1>
      <!-- Flash message -->
      <% if (successMsg != null && successMsg) { %>
      <div id="success" class="alert alert-success"><%= successMsg %></div>
      <% } %>
    </div>
    <div class="col-lg-8 col-md-12 text-justify m-auto">
      <!-- Introduction -->
      <div class="mt-4 mb-4">
        <p>
          Наша команда заботится о том, чтобы каждый клиент нашего интернет-магазина получил максимальное удовольствие
          от покупки товаров для своих любимцев. Если у вас есть какие-либо вопросы, предложения или просто хотите
          поговорить с нами, пожалуйста, свяжитесь с нами любым удобным для вас способом. Наша служба поддержки всегда
          готова помочь вам в решении любых вопросов и проблем. Вы можете связаться с нами по телефону, электронной
          почте или заполнив форму обратной связи на этой странице. Мы обещаем ответить на ваше сообщение в самое
          ближайшее время. Будем рады услышать от вас!
        </p>
      </div>
      <!-- Email contacts -->
      <div class="mt-4 mb-4">
        <p>
          <b><i>Связаться с нами через email:</i></b>
          <a href="mailto:petshop.contactt@gmail.com">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <u>petshop.contactt@gmail.com</u>
          </a>
        </p>
      </div>
      <!-- Phone contacts -->
      <div class="mt-4 mb-4">
        <p>
          <b><i>Связаться по телефону:</i></b>
        </p>
        <p>
          MTS:<a href="tel:555-555-5555">
            <i class="fa fa-phone" aria-hidden="true"></i>
            +375(12)345-67-89
          </a>
        </p>
        <p>
          A1:
          <a href="tel:555-555-5555">
            <i class="fa fa-phone" aria-hidden="true"></i>
            +375(21)345-67-89
          </a>
        </p>
        <p>
          Whatsapp:
          <a href="tel:555-555-5555">
            <i class="fa fa-phone" aria-hidden="true"></i>
            +375(98)765-43-21
          </a>
        </p>
      </div>
    </div>

    <!-- Contact us form -->
    <div class="col-lg-8 col-md-12 m-auto">
      <div class="mt-5 mb-4">
        <h2>Форма обратной связи</h2>
        <!-- Error flash message -->
        <% if(errorMsg!=null && errorMsg.length>0) {%>
        <div id="flash-msg" class="alert alert-danger">
          <% errorMsg.forEach((message) => { %>
          <p><%=message %></p>
          <%}) %>
        </div>
        <%}%>
        <form action="/pages/contact-us" method="POST">
          <div class="form-group">
            <label for="name">Имя</label>
            <input type="name" class="form-control" name="name" id="name" required />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" required />
          </div>
          <div class="form-group">
            <label for="message">Сообщение</label>
            <textarea
              class="form-control"
              name="message"
              id="message"
              rows="5"
              placeholder="Напишите ваше сообщение здесь..."
              required
            ></textarea>
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button type="submit" class="btn btn-primary button-style">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include ../partials/footer %>
